{{ define "Footer" }}
</div>   <footer class="footer">
      <div class="container">
        <p>Copyright &copy; 2019 <a class="text-white" href="http://khalid48.co">Khalid Insan Tauhid</a>. All Rights Reserved</p>
      </div>
    </footer>

    </body>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.blockUI.js"></script>
<script src="/static/plugins/icheck-1.0.2/icheck.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
     <script>
$(document).ready(function(){
});
</script>
</html>
{{ end }}